
html {
    font-family: 'Roboto', sans-serif;
}

#container {
    margin: 0 auto;
    width: 1500px;
    position: relative;
}

#ironhack {
    margin: 0 auto;
    border: 1px solid black;
    background-image: url('../images/fondo_clase.jpg');
    background-size: cover;
    background-color: rgba(0,0,0,0.7);
}

.disabled {
    display: none;
}

#submits-chart {
    width: 300px;
    background-color: #F4F6F8;
    margin-left: auto;
}

#start-container {
    /* background-color: teal; */
    width: 1500px;
    height: 600px;
    /* margin: 0 auto; */
    /* text-align:center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

#game-over {
    background-color: tomato;
    width: 1500px;
    height: 600px;
    margin: 0 auto;
}

h1 {
    /* background-color: turquoise; */
    /* display:inline-block; */
    font-size: 50px;
    color: #217DB8;
    /* padding-left: auto;
    padding-right: auto; */
    /* position: absolute;
    top: 350px;
    right: 300px; */
    border: 1px solid #217DB8;
    padding: 50px;
}

#start-button {
    /* position: absolute; */
    /* top: 500px; */
    width: 250px;
    height: 100px;
}

#ironhack-logo {
    /* position: absolute; */
    width: 100px;
    /* top: 225px;
    right: 650px; */
    /* margin: 0 auto; */
}