
html {
    font-family: 'Roboto', sans-serif;
}

#container {
    margin: 0 auto;
    width: 1500px;
}

#ironhack {
    margin: 0 auto;
    border: 1px solid black;
    background-image: url('../images/fondo_clase.jpg');
    background-size: cover;
    background-color: rgba(0,0,0,0.7);
}

.disabled {
    display: none;
}

.flex {
    display: flex;
}

#submits-chart {
    width: 300px;
    background-color: #F4F6F8;
    margin-left: auto;
}

#start-container {
    width: 1500px;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

#game-over {
    background-color: tomato;
    width: 1500px;
    height: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 75px;
    color: #217DB8;
    border: 1px solid #217DB8;
    padding: 50px;
    font-family: 'VT323', monospace;
}

#start-button {
    width: 250px;
    height: 100px;
    font-family: 'VT323', monospace;
    font-size: 75px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#ironhack-logo {
    width: 250px;
}